.button {
	padding: calc(var(--padding) / 8) calc(var(--padding) / 2);
	border: none;
	border-radius: 0.25rem;
	background: var(--color-main);
	color: var(--color-grey-light);
	font-size: var(--font-size);
	font-weight: 300;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.05rem;
	transition: all 0.1s ease-in-out;
	min-width: 6rem;
}

.button:active {
	transform: translateY(2px) scale(0.98);
}

.button:hover {
	cursor: pointer;
}

.primary {
	background: var(--color-main);
	color: var(--color-text-light);
}

.primary:hover {
	background: var(--color-main-dark);
}

.secondary {
	background: var(--color-secondary);
	color: var(--color-text-light);
}

.secondary:hover {
	background: var(--color-secondary-dark);
}

.circled {
	border-radius: 50%;
	min-width: 0;
	width: 5rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

/* check:  https://neumorphism.io/#e0e0e0 */
