/*slide-in animation */
@keyframes slide-in {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

.toast {
	z-index: 1000;
	position: fixed;
	bottom: 1rem;
	left: 5vw;

	height: 5rem;
	border-radius: 0.4rem;
	margin: auto;
	width: 90vw;
	padding: 1.2rem;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 1.8rem;
	font-weight: 400;

	pointer-events: none;

	background-color: var(--color-main);
	color: rgb(224, 224, 224);

	/*Animation*/
	animation: slide-in 0.1s ease-in-out;
}
