.navigation ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 2rem;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation a {
	color: var(--color-main);
	text-decoration: none;
	font-size: var(--font-size);
	font-weight: 400;
}
